<form [formGroup]="formGroup" (submit)="save()">
  <label>
    Name
    <input formControlName="name" required type="text">
    <span *ngIf="hasErrorMessage(formGroup.controls.name)">
      Name is required
    </span>
  </label>

  <label>
    Due Date
    <input formControlName="dueDate" required type="date">
    <span *ngIf="hasErrorMessage(formGroup.controls.dueDate)">
      Due Date is required
    </span>
  </label>

  <button type="submit" [disabled]="formGroup.invalid" class="btn">
    Save
  </button>
</form>
